<section data-ng-controller="HeroController">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 hero_quad" style="background-color:rgba(0,0,255, .8);" ng-click="pick_hero('Strong')">
                <legend>Strong Soldier</legend>Demonstrates intense physical ability for greater overall strength and power. Strong heroes excel at taijutsu.&nbsp;
            </div>
            <div class="col-xs-6 hero_quad" style="background-color:rgba(204,102,0, .8);" ng-click="pick_hero('Fast')">
                <legend>Fast Ninja</legend>A type of shinobi that relies on both defense and stealth, a ranged and melee specialist. Fast heroes excel at taijutsu.&nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 hero_quad" style="background-color:rgba(0,153,0, .8);" ng-click="pick_hero('Smart')">
                <legend>Smart Infantry</legend>Makes the best use of Intelligence and has a large array of medical/combat skills. Smart heroes excel at ninjutsu.&nbsp;
            </div>
            <div class="col-xs-6 hero_quad" style="background-color:rgba(204,0,0, .8);" ng-click="pick_hero('Charismatic')">
                <legend>Charismatic</legend>The most intuitive of all the other hero types, discerning lies & illusion craft. Charismatic heroes excel at genjutsu.&nbsp;
            </div>
        </div>


    </div>
</section>